<div class="container">
  <h2 class="mt-2 text-center">SOME OF OUR PROJECTS</h2>
  <div class="row gallery-container mt-3 mb-3" #galleryContainer>
    <div
      *ngFor="let image of images; let i = index"
      class="gallery-item col-md-4 col-sm-4"
    >
      <img
        src="{{ image.src }}"
        style="height: 300px"
        class="image-fluid g-image"
        alt="Image {{ i + 1 }}"
      />
      <div class="caption text-center txt-info mt-4"><span class="project">Project: </span>{{ image.project }}</div>
      <div class="caption text-center txt-info mt-2"><span class="location">Location: </span>{{ image.location }}</div>
    </div>
  </div>

</div>
