<app-carousel></app-carousel>
<div class="main">
  <!-- services section-->
  <div class="services" id="services">
    <div class="row">
      <h2 class="section-heading">Our Services</h2>
    </div>
    <div class="row crds">
      <div class="column crd">
        <div class="card">
          <div class="image-wrapper">
            <img
              src="assets/pool_plan.jpeg"
              class="card-img-top"
              alt="pool planning"
            />
          </div>
          <h3>Swimming Pool Planning and Estimating</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
            consequatur necessitatibus eaque.
          </p>
        </div>
      </div>
      <div class="column crd">
        <div class="card">
          <div class="image-wrapper">
            <img
              src="assets/pool_const.jpeg"
              class="card-img-top"
              alt="pool construction"
            />
          </div>
          <h3>Swimming Pool Construction</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
            consequatur necessitatibus eaque.
          </p>
        </div>
      </div>
      <div class="column crd">
        <div class="card">
          <div class="image-wrapper">
            <img
              src="assets/pool6.jpeg"
              class="card-img-top"
              alt="pool planning"
            />
          </div>
          <h3>Swimming Pool Maintenance</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
            consequatur necessitatibus eaque.
          </p>
        </div>
      </div>
      <div class="column crd">
        <div class="card">
          <div class="image-wrapper">
            <img
              src="assets/build_const.jpeg"
              class="card-img-top"
              alt="building construction"
            />
          </div>
          <h3>Building Construction</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
            consequatur necessitatibus eaque.
          </p>
        </div>
      </div>
      <div class="column crd">
        <div class="card">
          <div class="image-wrapper">
            <img
              src="assets/build_plan.jpeg"
              class="card-img-top"
              alt="build planning"
            />
          </div>
          <h3>Building Planning</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
            consequatur necessitatibus eaque.
          </p>
        </div>
      </div>
      <div class="column crd">
        <div class="card">
          <div class="image-wrapper">
            <img
              src="assets/land.jpeg"
              class="card-img-top"
              alt="land surveying"
            />
          </div>
          <h3>Land Surveying</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
            consequatur necessitatibus eaque.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Projects Section -->
  <div class="project"></div>

  <!-- About Section -->
  <div class="about" id="about_us">
    <div class="info">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis,
        doloremque? Quam rem unde provident, iste qui doloribus. Itaque,
        deserunt, beatae recusandae ipsum maxime nemo quasi ut corporis officiis
        suscipit eveniet! Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Tenetur modi fuga ex cupiditate dolorum. Vel eos, nihil inventore
        tenetur minus rem earum quam labore accusantium explicabo! Enim ratione
        omnis consectetur.
      </p>
    </div>
    <div class="image">
      <img
        src="assets/pool6.jpeg"
        class="img-fluid"
        alt="about"
        style="height: 400px; width: 500px"
      />
    </div>
  </div>

  <!-- choose us section -->
  <div class="choose" id="choose_us">
    <div class="image">
      <img
        src="assets/pool2.jpeg"
        class="img-fluid"
        alt="about"
        style="height: 400px; width: 500px"
      />
    </div>
    <div class="info">
      <div class="header">
        <h2>WHY CHOOSE US?</h2>
      </div>
      <div
        class="toggle-header"
        *ngFor="let item of accordionItems; let i = index"
        (click)="toggleContent(i)"
      >
        <h5>{{ item.headerText }}</h5>
        <span
          class="arrow-icon"
          [ngClass]="{ up: item.isExpanded, down: !item.isExpanded }"
        ></span>
      </div>
      <div *ngFor="let item of accordionItems; let i = index">
      <div class="toggle-content" [class.show]="item.isExpanded">
        <p>
          {{ item.content }}
        </p>
      </div>
        
      </div>
    </div>
  </div>
   <!-- mission section -->
   <div class="mission">
    <div class="header">
      <h2>We guarantee you premium service for every project</h2>
    </div>
    <div class="row statement">
      <div class="col-md-4 col-sm-4">
        <h1>01. MISSION</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi consequuntur amet minus sed tempora nam dignissimos assumenda debitis culpa molestias? Alias, ut placeat necessitatibus beatae dignissimos consequatur doloremque repellendus exercitationem.</p>
      </div>

      <div class="col-md-4 col-sm-4">
        <h1>02. VISSION</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi consequuntur amet minus sed tempora nam dignissimos assumenda debitis culpa molestias? Alias, ut placeat necessitatibus beatae dignissimos consequatur doloremque repellendus exercitationem.</p>
      </div>

      <div class="col-md-4 col-sm-4">
        <h1>03. VALUE</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi consequuntur amet minus sed tempora nam dignissimos assumenda debitis culpa molestias? Alias, ut placeat necessitatibus beatae dignissimos consequatur doloremque repellendus exercitationem.</p>
      </div>

    </div>
   </div>

  <!-- Contact Us Section -->
  <div class="contact" id="contact">
    <div class="container">
      <div class="img">
        <img src="assets/subscribe.svg" alt="subscribe" />
      </div>
      <div class="body_txt">
        <h1>GET IN TOUCH</h1>
        <h2>Send Your Messages to VictoryLife</h2>
        <div class="subs mt-2">
          <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
            <input
              type="text"
              id="fullName"
              formControlName="fullName"
              placeholder="Full Name"
              required
              [ngClass]="{
                'is-invalid':
                  getFormControl['fullName'].touched &&
                  getFormControl['fullName'].invalid
              }"
            />
            <div *ngIf="getFormControl['fullName'].errors?.['required']">
              <div
                class="text-danger"
                *ngIf="
                  getFormControl['fullName'].touched &&
                  getFormControl['fullName'].invalid
                "
              >
                Full Name is required!!!
              </div>
            </div>
            <input
              type="text"
              id="phoneNumber"
              formControlName="phoneNumber"
              placeholder="Phone Number"
              class="mt-2"
              required
              [ngClass]="{
                'is-invalid':
                  getFormControl['phoneNumber'].touched &&
                  getFormControl['phoneNumber'].invalid
              }"
            />
            <div *ngIf="getFormControl['phoneNumber'].errors?.['required']">
              <div
                class="text-danger"
                *ngIf="
                  getFormControl['phoneNumber'].touched &&
                  getFormControl['phoneNumber'].invalid
                "
              >
                Phone Number is required!!!
              </div>
            </div>

            <div *ngIf="getFormControl['phoneNumber'].errors?.['pattern']">
              <div
                class="text-danger"
                *ngIf="
                  getFormControl['phoneNumber'].touched &&
                  getFormControl['phoneNumber'].invalid
                "
              >
                Input number Must be a phone number!!!
              </div>
            </div>

            <div *ngIf="getFormControl['phoneNumber'].errors?.['minlength']">
              <div
                class="text-danger"
                *ngIf="
                  getFormControl['phoneNumber'].touched &&
                  getFormControl['phoneNumber'].invalid
                "
              >
                Phone Number must be atleast 10 characters long!!!
              </div>
            </div>
            <div *ngIf="getFormControl['phoneNumber'].errors?.['maxlength']">
              <div
                class="text-danger"
                *ngIf="
                  getFormControl['phoneNumber'].touched &&
                  getFormControl['phoneNumber'].invalid
                "
              >
                Phone Number must be atmost 15 characters long!!!
              </div>
            </div>
            <textarea
              id="messsage"
              cols="30"
              rows="10"
              formControlName="message"
              placeholder="Message"
              class="mt-2"
              required
              [ngClass]="{
                'is-invalid':
                  getFormControl['message'].touched &&
                  getFormControl['message'].invalid
              }"
            ></textarea>
            <div *ngIf="getFormControl['message'].errors?.['required']">
              <div
                class="text-danger"
                *ngIf="
                  getFormControl['message'].touched &&
                  getFormControl['message'].invalid
                "
              >
                Message is required!!!
              </div>
            </div>
            <button type="submit" [disabled]="messageForm.invalid" class="mt-2">
              Send
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
