<app-carousel></app-carousel>
<div class="main">
  <!-- services section-->
  <div class="services hidden">
    <div class="row">
      <h2 class="section-heading">Our Services</h2>
    </div>
    <div class="row crds">
      <div class="column crd">
        <div class="card">
          <div class="image-wrapper">
            <img
              src="assets/pool_plan.jpeg"
              class="card-img-top"
              alt="pool planning"
            />
          </div>
          <h3>Swimming Pool Planning and Estimating</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
            consequatur necessitatibus eaque.
          </p>
        </div>
      </div>
      <div class="column crd">
        <div class="card">
          <div class="image-wrapper">
            <img
              src="assets/pool_const.jpeg"
              class="card-img-top"
              alt="pool construction"
            />
          </div>
          <h3>Swimming Pool Construction</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
            consequatur necessitatibus eaque.
          </p>
        </div>
      </div>
      <div class="column crd">
        <div class="card">
          <div class="image-wrapper">
            <img
              src="assets/pool6.jpeg"
              class="card-img-top"
              alt="pool planning"
            />
          </div>
          <h3>Swimming Pool Maintenance</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
            consequatur necessitatibus eaque.
          </p>
        </div>
      </div>
      <div class="column crd">
        <div class="card">
          <div class="image-wrapper">
            <img
              src="assets/build_const.jpeg"
              class="card-img-top"
              alt="building construction"
            />
          </div>
          <h3>Building Construction</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
            consequatur necessitatibus eaque.
          </p>
        </div>
      </div>
      <div class="column crd">
        <div class="card">
          <div class="image-wrapper">
            <img
              src="assets/build_plan.jpeg"
              class="card-img-top"
              alt="build planning"
            />
          </div>
          <h3>Building Planning</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
            consequatur necessitatibus eaque.
          </p>
        </div>
      </div>
      <div class="column crd">
        <div class="card">
          <div class="image-wrapper">
            <img
              src="assets/land.jpeg"
              class="card-img-top"
              alt="land surveying"
            />
          </div>
          <h3>Land Surveying</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
            consequatur necessitatibus eaque.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Projects Section -->
  <div class="project"></div>

  <!-- About Section -->
  <div class="about">
    <div class="info">
      <h2 data-aos="fade-in">About Us</h2>
      <p data-aos="fade-left">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis,
        doloremque? Quam rem unde provident, iste qui doloribus. Itaque,
        deserunt, beatae recusandae ipsum maxime nemo quasi ut corporis officiis
        suscipit eveniet! Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Tenetur modi fuga ex cupiditate dolorum. Vel eos, nihil inventore
        tenetur minus rem earum quam labore accusantium explicabo! Enim ratione
        omnis consectetur.
      </p>
    </div>
    <div class="image" data-aos="fade-right">
      <img
        src="assets/pool6.jpeg"
        class="img-fluid"
        alt="about"
        style="height: 400px; width: 500px"
      />
    </div>
  </div>

  <!-- Contact Us Section -->
  <div class="contact hidden">
    <div class="container">
      <div class="img" data-aos="fade-left">
        <img src="assets/subscribe.svg" alt="subscribe" />
      </div>
      <div class="body_txt" data-aos="fade-right">
        <h1>Subscribe with your email to receive news updates</h1>
        <div class="subs">
          <input
            type="email"
            name="email"
            id="eamil"
            placeholder="Email Address"
          /><br />
          <button>Subscribe</button>
        </div>
      </div>
    </div>
  </div>
</div>
