  <carousel>
    <slide>
      <img src="assets/pool1.jpeg" alt="first slide" />
      <div class="carousel-caption d-none d-md-block">
        <h3>Swimming Pool Planning and Estimating</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </slide>
    <slide>
      <img src="assets/pool2.jpeg" alt="second slide" />
      <div class="carousel-caption d-none d-md-block">
        <h3>Swimming Pool Maintenance</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </slide>
    <slide>
      <img src="assets/pool3.jpeg" alt="third slide" />
      <div class="carousel-caption d-none d-md-block">
        <h3>Swimming Pool Cleaning</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </slide>
    <slide>
      <img src="assets/build2.jpeg" alt="third slide" />
      <div class="carousel-caption d-none d-md-block">
        <h3>Building Construction and Planning</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </slide>
    <slide>
      <img src="assets/build1.jpeg" alt="Four slide" />
      <div class="carousel-caption d-none d-md-block">
        <h3>Land Surveying</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </slide>
  </carousel>
